<h2 class="ui center aligned icon header">
  <i class="circular sticky address card outline inverted  icon"></i>
  Редактировать отделение
</h2>

<%= form_for :unit do |f|  %>

  <div class="ui segment inverted">
    <%=render 'devise/shared/error_messages', resource: @unit %>
    <div class="ui form inverted">
      <div class="avatar">
        <% if @unit.image.attached? %>
          <%=image_tag(@unit.image, class: 'avatar')%>
        <% else %>
          <%= image_tag('unit-default.png', class: 'avatar') %>
        <% end %>
      </div>
      <div class="field">
        <%=f.label 'Картинка' %>
        <%=f.file_field :image %>
      </div>
      <div class="field">
        <%= f.label 'Название'  %>
        <%= f.text_field :name, placeholder: 'Название' %>
      </div>
      <div class="field">
        <%= f.label 'Краткое описание' %>
        <%= f.text_field :description, placeholder: 'Краткое описание' %>
      </div>
      <div class="field">
        <%= f.label 'Местоположение отделения'  %>
        <%= f.text_field :address, placeholder: 'Местоположение отделения' %>
      </div>
      <div class="field">
        <%= f.label 'Имя заведующего' %>
        <%= f.text_field :leader, placeholder: 'Имя заведующего' %>
      </div>
      <div class="field">
        <%= f.label 'Телефон заведующего' %>
        <%= f.text_field :leader_phone, placeholder: 'Телефон заведующего' %>
      </div>
      <div class="field">
        <%= f.label 'Телефон юридического отдела'%>
        <%= f.text_field :legal_phone, placeholder: 'Телефон юридического отдела' %>
      </div>
      <div class="field">
        <%= f.label 'Полное описание' %>
        <%= f.text_area :big_desc, placeholder: 'Полное описание' %>
      </div>
      <%= f.submit "Добавить", class: 'ui button'%>
    </div>
  </div>
<% end %>