<h2 class="ui center aligned icon header">
  <i class="circular sticky male alternate inverted  icon"></i>
  Администрация

</h2>
<div class="unit-show-content card-wrapper">
  <div class="human-handler">
    <p class="human-type">Директор</p>
    <%= image_tag('director.jpeg', class: 'human-card-image') %>
    <div>
      <p class="human-name">Иванов Иван Иванович</p>
      <p>Преподаватель игры на фортепьяно</p>
      <div class="inline">
        <%= image_tag('phone.png', class: 'contact-image administration') %>
        <p class="contact-text">Служебный телефон:
          <g class="number">+8 0232 45-42-71</g>
        </p>
      </div>
      <div class="inline">
        <%= image_tag('mail.png', class: 'contact-image administration') %>
        <p class="contact-text">Почта:
          <a href="mailto:IvanovInavIvanovich@gmail.com" class="">IvanovInavIvanovich@gmail.com</a></p>
      </div>
      <div>Приём граждан: 1-й и 3-й четверг месяца с 9:00 до 13:00</div>
      <div> (предварительная запись по телефону +375 17 378 65 32)</div>
    </div>
  </div>


  <div class="human-cards-handler">
    <div class="human-handler">
      <p class="human-type">Заместитель директора по учебной работа</p>
      <%= image_tag('zam.jpeg', class: 'human-card-image') %>
      <div>
        <p class="human-name">Калашникова Маргарита Юрьевна</p>
        <p>Преподаватель игры на бубне</p>
        <div class="inline">
          <%= image_tag('phone.png', class: 'contact-image administration') %>
          <p class="contact-text">Служебный телефон:
            <g class="number">+8 0232 48-42-71</g>
          </p>
        </div>
        <div class="inline">
          <%= image_tag('mail.png', class: 'contact-image administration') %>
          <p class="contact-text">Почта:
            <a href="mailto:Kalashnikova1975@gmail.com" class="">Kalashnikova1975@gmail.com</a></p>
        </div>

      </div>
    </div>

    <div class="human-handler">
      <p class="human-type">Заместитель директора по воспитательной работе</p>
      <%= image_tag('zavac.png', class: 'human-card-image') %>

      <div>
        <p class="human-name">Завацкая Алёна Николаевна</p>
        <p>Преподаватель игры на нервах и просто хороший человек</p>
        <div class="inline">
          <%= image_tag('phone.png', class: 'contact-image administration') %>
          <p class="contact-text">Служебный телефон:
            <g class="number">+8 0232 49-42-71</g>
          </p>
        </div>
        <div class="inline">
          <%= image_tag('mail.png', class: 'contact-image administration') %>
          <p class="contact-text">Почта:
            <a href="mailto:AlenaZavackaya@gmail.com" class="">AlenaZavackaya@gmail.com</a></p>
        </div>

      </div>
    </div>
  </div>
</div>