<h2 class="ui center aligned icon header">
  <i class="circular sticky bell alternate inverted  icon"></i>
  Новости
</h2>
<div class="news-handler">
  <div class="news">
    <div class="news-flex">
      <h1 class="news-title">Новый преподаватель</h1>
      <p class="news-text">У нас появился новый преподаватель игры на гитаре, Даниил Пехтеров!</p>
    </div>
    <div class="image-data">
      <%=image_tag('daniil.jpeg', class: 'news-image') %>
      <p>28 Января, в 20:00</p>
    </div>
  </div>
  <div class="news">
    <div class="news-flex">
      <h1 class="news-title">Требуются волонтеры</h1>
      <p class="news-text">ребуются волонтеры для похода в детский сад #13.</p>
    </div>
    <div class="image-data">
      <%=image_tag('kids.jpg', class: 'news-image') %>
      <p>28 Января, в 20:00</p>
    </div>
  </div>
  <div class="news">
    <div class="news-flex">
      <h1 class="news-title">Молодержный конкурс</h1>
      <p class="news-text">Молодежный конкурс "Гитара, как стиль жизни" начинается завтра в 14:30. Успей подать заявку</p>
    </div>
    <div class="image-data">
      <%=image_tag('guitar.jpg', class: 'news-image') %>
      <p>28 Января, в 20:00</p>
    </div>
  </div>
  <div class="news">
    <div class="news-flex">
      <h1 class="news-title">Перенос дня</h1>
      <p class="news-text">В связи с наступающим праздником, мы вынуждены перенести понедельник на субботу</p>
    </div>
    <div class="image-data">
      <%=image_tag('sleep.jpg', class: 'news-image') %>
      <p>28 Января, в 20:00</p>
    </div>
  </div>
  <div class="news">
    <div class="news-flex">
      <h1 class="news-title">Поздравим победителя</h1>
      <p class="news-text">Поздравляем Артёма Волкова с двухтысячным местом в молодежном музыкальном конкурсе горлового пения "Защита древних"</p>
    </div>
    <div class="image-data">
      <%=image_tag('dota.jpg', class: 'news-image') %>
      <p>28 Января, в 20:00</p>
    </div>
  </div>
</div>
