<h2 class="ui center aligned icon header">

  <% if @reviews.any? %>
    <i class="circular sticky comments inverted outline icon"></i>
    Наши отзывы
  <% else %>
    <i class="circular sticky frown inverted outline icon"></i>
    Отзывы отсутствуют
  <% end %>
</h2>
<% if @reviews.any? %>
  <div class="Comments-handler">
    <div class="ui comments huge ">
      <% @reviews.each do |r| %>
        <div class="rounded-comment">
          <div class="comment ">
            <% if r.user.avatar.attached? %>
              <%= image_tag(r.user.avatar, class: 'avatar-img') %>
            <% else %>
              <%= image_tag('profile.png', class: 'avatar-img') %>
            <% end %>


            <div class="content">
              <a class="author"><%= r.user.email %></a>
              <div class="metadata">
                <span class="date"><%= r.created_at.strftime("Отправлено %m/%d/%Y at %I:%M%p") %></span>
              </div>

              <div class="text comment-text">
                <%= r.comment %>
              </div>
              <div class="actions">
                <div class="ui star rating user-rating" data-max-rating="5" data-rating="<%= r.mark %>"></div>
                <% if current_user && current_user.admin? %>
                  <%= link_to 'Удалить', destroy_review_path(r), class: 'ui red button review-destroy-button', method: :delete %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>

<% end %>
<div class="unit-show-content">
  <%= will_paginate @reviews %>
</div>

<% if user_signed_in? %>
  <h2 class="ui center aligned icon header">
    <i class="circular sticky linechat inverted outline icon"></i>
    Оставьте свой отзыв
  </h2>
  <%= form_for :review do |f| %>

    <div class="ui reply form comment-form">
      <div class="field">
        <%= f.text_area '', class: 'comment-area' %>
      </div>
      <div class="buttom-review-actions">
        <%= f.button '<div class="ui blue labeled submit icon button"> <i class="icon edit"></i> Создать отзыв</div>'.html_safe, class: 'submit-review-button' %>
        <div class="local-rating-handler">
          <div class="ui massive star rating local-rating" data-max-rating="5"></div>
        </div>

      </div>
    </div>
  <% end %>
  </div>
<% else %>
  <h2 class="ui center aligned icon header">
    Авторизируйтесь, чтобы оставить комментарий
    <i class="circular sticky lock inverted icon"></i>

  </h2>
<% end %>

</div>
</div>