<h2 class="ui center aligned icon header">
  <i class="circular sticky street view alternate inverted  icon"></i>
  Учителя

</h2>
<div class="unit-show-content card-wrapper">
  <div class="human-cards-handler ">
    <div class="human-handler teacher ">
      <p class="human-type">Преподаватель игры на Сямисэне</p>
      <%= image_tag('prep1.jpeg', class: 'human-card-image') %>
      <div>
        <p class="human-name">Ксяоми Юймин Юнха</p>
        <div class="inline">
          <%= image_tag('phone.png', class: 'contact-image administration') %>
          <p class="contact-text">Служебный телефон:
            <g class="number">+8 0232 48-45-21</g>
          </p>
        </div>
        <div class="inline">
          <%= image_tag('mail.png', class: 'contact-image administration') %>
          <p class="contact-text">Почта:
            <a href="mailto:MIUIXiaomi@gmail.com" class="">MIUIXiaomi@gmail.com</a></p>
        </div>

      </div>
    </div>

    <div class="human-handler teacher">
      <p class="human-type">Преподаватель игры на рояле</p>
      <%= image_tag('prep2.jpeg', class: 'human-card-image') %>
      <div>
        <p class="human-name">Бочкина Галина Алексеевна</p>
        <div class="inline">
          <%= image_tag('phone.png', class: 'contact-image administration') %>
          <p class="contact-text">Служебный телефон:
            <g class="number">+8 0232 49-42-77</g>
          </p>
        </div>
        <div class="inline">
          <%= image_tag('mail.png', class: 'contact-image administration') %>
          <p class="contact-text">Почта:
            <a href="mailto:Royalbthebest@gmail.com" class="">Royalbthebest@gmail.com</a></p>
        </div>

      </div>
    </div>
  </div>  <div class="human-cards-handler">
  <div class="human-handler teacher">
    <p class="human-type">Преподаватель игры на трембите</p>
    <%= image_tag('prep3.jpeg', class: 'human-card-image') %>
    <div>
      <p class="human-name">Гарнослав Петра Михайло</p>
      <div class="inline">
        <%= image_tag('phone.png', class: 'contact-image administration') %>
        <p class="contact-text">Служебный телефон:
          <g class="number">+8 0232 44-42-71</g>
        </p>
      </div>
      <div class="inline">
        <%= image_tag('mail.png', class: 'contact-image administration') %>
        <p class="contact-text">Почта:
          <a href="mailto:mixailoperadusim@gmail.com" class="">mixailoperadusim@gmail.com</a></p>
      </div>

    </div>
  </div>

  <div class="human-handler teacher">
    <p class="human-type">Преподаватель игры на укулеле</p>
    <%= image_tag('prep4.jpeg', class: 'human-card-image') %>
    <div>
      <p class="human-name">Балыш Мария Сергеевна</p>
      <div class="inline">
        <%= image_tag('phone.png', class: 'contact-image administration') %>
        <p class="contact-text">Служебный телефон:
          <g class="number">+8 0232 56-42-71</g>
        </p>
      </div>
      <div class="inline">
        <%= image_tag('mail.png', class: 'contact-image administration') %>
        <p class="contact-text">Почта:
          <a href="mailto:BalyshMaryaSergeevna@gmail.com" class="">BalyshMaryaSergeevna@gmail.com</a></p>
      </div>

    </div>
  </div>
</div>


</div>