<div class="ui mini menu massive inverted">
  <%= link_to 'MusicWorld', root_path, class: 'active item' %>
  <a class=" item">
    Контакты
  </a>
  <a class="item">
    Информация
  </a>
  <a class="item">
    Об услугах
  </a>

    <%=link_to 'Отзывы', pages_reviews_path, class: 'item'%>

  <div class="right menu">
    <% unless user_signed_in? %>
      <div class="item">
        <%= link_to "Sign Up", new_user_registration_path, class: 'ui primary button' %>
      </div>
      <div class="item">
        <%= link_to "Sign In", new_user_session_path, class: 'ui primary button' %>
      </div>
    <% else %>
      <div class="item">
        <h1><%=link_to current_user.email.split('@')[0], profile_update_path %></h1>
      </div>
      <div class="item">
        <%= link_to "Sign Out", destroy_user_session_path, :method => :delete, class: 'ui primary button' %>
      </div>
    <% end %>
  </div>
</div>